// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
header, footer{
    background-color: #c52f24;
    color: #FFF;
    padding:20px 0;
}

footer p{
    font-size: 28px;
    display: inline-block;
    font-weight: bold;
}

.total_count{
    margin-left: 80px;
}

#view_today {
    font-size: 28px;
    font-weight: bold;
}

#schedule_total {
    font-size: 28px;
    font-weight: bold;
}

table {
    border-collapse: collapse;
}

table th {
    background-color: #FFDFDF;
    padding: 10px 20px;
    text-align: center;
    border: 1px solid #222;
}

table td {
    background-color: #F1C8C861;
    padding: 10px 20px;
    text-align: center;
    border: 1px solid #222;
}

.notice {
    background-color: #99FF99;
    padding: 5px;
}

textarea {
    height: 100px;
}

.link_btn ul{
    list-style: none;
    padding-left: 0;
}

.link_btn ul li{
    list-style: none;
    padding-top: 10px;
}